.content {
    width: 100%;
    min-height: 100vh;
    padding-top: var(--header-navbar-height);
    text-align: center;
    display: flex;
}

.column1 {
    flex: 1;
    height: 65vh;
    border-right: 1px solid black;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.name,
.heading {
    font-size: 2.8rem;
    font-weight: bold;
}

.nick-name {
    padding-bottom: 2%;
    font-style: italic;
}

.avatar {
    width: 280px;
    height: 280px;
    margin: 5% 0 10%;
    border: 1px solid #343a40;
    border-radius: 100%;
    object-fit: cover;
}

.column1 form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column1 form input {
    display: none;
}

.column1 form label {
    height: 4rem;
    line-height: 4rem;
    width: 12rem;
    background-color: #343a40;
    color: #fff;
    border-radius: 0.4rem;
    border: 1px solid #343a40;
    margin: 0;
}

.column2 {
    height: 65vh;
    flex: 2;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-form {
    display: flex;
    flex-wrap: wrap;
}

.input-form > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 1% 0;
}

.title {
    text-align: left;
    margin-left: 5%;
}

.input-form div:nth-child(odd) .title {
    margin-left: 15%;
}

.input {
    width: 80%;
    margin: 1% 5% 2%;
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid #d3cfcf;
}

.input-form div:nth-child(odd) .input {
    margin-left: 15%;
}

.error {
    text-align: left;
    margin-left: 5%;
    padding-left: 1rem;
    color: red;
    font-size: 1.2rem;
}

.input-form div:nth-child(odd) .error {
    margin-left: 15%;
}

h2.error {
    font-size: 2rem;
}

h2.success {
    font-size: 2rem;
    color: #4bb543;
}
