.content {
    width: 100%;
    min-height: 150vh;
    padding-top: var(--header-navbar-height);
    text-align: center;
}

.content-heading {
    font-size: 4.8rem;
    line-height: 5.2rem;
    font-weight: bolder;
}

.search-container {
    margin-top: 2.4rem;
    height: 3.2rem;
    width: 40rem;
    background-color: #ffffff;
    border: 0.1rem solid #d3cfcf;
    border-radius: 0.4rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
}

.logo {
    height: 2.2rem;
    width: 2.2rem;
    margin: auto 0.8rem;
}

.input {
    flex: 1;
    font-size: 1.6rem;
    color: #343a40;
    padding: 0 0.8rem;
}

.search-result {
    width: 40rem;
}

.search-title {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}

.user {
    width: 50%;
    margin: 2% auto;
    border-top: 1px solid #D3CFCF;
    border-bottom: 1px solid #D3CFCF;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-field {
    display: flex;
    flex-wrap: wrap;
}

.sender, 
.receiver { 
    width: 40%;
    margin: 2% 5% 5%;
    display: flex;
    flex-direction: column;
}

.sender form, 
.receiver form {
    display: flex;
    flex-direction: column;
    text-align: left;
}  

.heading {
    font-size: 2.8rem;
    font-weight: bold;
}

.sender label, 
.receiver label{
    margin: 4px 0;
}

.sender input,
.sender select,
.receiver input{
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid #D3CFCF;
}

.order {
    width: 90%;
    margin: 0 5%;
}

.order-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;

}

.order-info,
.order-note {
    width: calc(4/9 * 100%);
}

.order-info table {
    margin: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.order-info tr {
    width: 100%;
}

.order-info td,
.order-info th {
    text-align: left;
    padding: 4px 8px 4px 0px;
    color: black;
}

.order-info th {
    background-color: #ebf4f4;
    color: #333;
    font-size: 1.6rem;
    font-weight: normal;
}

.column6 {
    width: 84%;
}

.column1 {
    width: 16%;
}

.order-info td input {
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid #D3CFCF;
}

.order-info tr td:nth-child(2) input {
    text-align: center;
} 

.order-note div {
    text-align: left;
    padding: 4px 0px;
}

.order-note > textarea { 
    width: 100%;
    padding: 0.8rem;
    margin-top: 4px;
    min-height: 88px;
    font-size: 1.4rem;
    border: 1px solid #D3CFCF;
    flex-wrap: wrap;
}

.order-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-info Button {
    width: 6rem;
    margin: 4px;
}

.submit {
    width: 90%;
    margin: 2% 5% 3%;

}

.submit Button {
    margin: auto;
    
}